
<% provide(:title, 'Contact') %>
<div class="contact">
 <div class="row">

   <div id="map" class="col-md-4"></div>


   <div class="row">
     <div id="address" class="col-md-4 col-md-offset-1 col-xs-offset-3">
       <h3>Tiburon LTD</h3>
       <p><span class="glyphicon glyphicon-search"></span> г. Одесса, Успенская 123<br><br>
         <span class="glyphicon glyphicon-phone"></span> Phone Number<br><br>
         <span class="glyphicon glyphicon-envelope"></span> tiburonltd@ukr.net <br>
       </p>
     </div>
   </div>
   <div id="formcont" class="col-md-4 col-md-offset-1">
     <%= form_for @message, url:contact_path, :html => {:class => "form-horizontal "} do |message_form| %>
         <%= message_form.text_field :name, placeholder: "Имя", class: "form-control" %>
         <%= message_form.email_field :email, placeholder: "Email", class: "form-control"%>
         <%= message_form.text_area :content, placeholder: "Текст сообщения", class: "form-control"%>
         <%= message_form.submit "Отправить", class: " btn btn-large btn-success" %>
     <% end %>
   </div>
 </div>

</div>



<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->







<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {Zoom: 3}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": 46.47613346180421,
        "lng": 30.72822466492653,
        "picture": {
          "url": "http://www.google.com/mapfiles/marker.png",
          "width":  20,
          "height": 34
        },
        "infowindow": "Welcome to Tiburon"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(10);
  });
</script>
