<% provide(:title, 'Create user') %>
<h1 id="sgn">Sign Up</h1>
<%= form_for @user, :html => {:class => "form-horizontal "} do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :name, class: "col-md-4 control-label"%>
      <div class="col-md-5">
        <%= f.text_field :name, placeholder: "Enter your name", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.text_field :email, placeholder: "Enter your email", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.password_field :password, placeholder: "Enter the password", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation",  class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= f.password_field :password_confirmation, placeholder: "Confirm your password ", class: "form-control" %>
      </div>
    </div>

    <div class="col-md-offset-4">
      <%= f.submit "Create  account", class: "btn btn-large btn-primary" %>
    </div>

<% end %>



