<% provide(:title, 'Containers') %>
<div class="marg">
  <div class="row">
    <div class="col-md-9 col-md-offset-1">
      <h3>Типы контейнеров</h3>
      <p>Морские (универсальные) контейнеры  различаются по типу и размерам. Для любого вида груза можно подобрать контейнер, наиболее подходящий по своим параметрам. Самое массовое использование получили стандартные, т.н "сухие" контейнеры (DC - Dry Container): </p>
      <ul>
        <li>Для перевозки "плотных" или тяжеловесных грузов небольшого размера больше подходят 20-ти футовые контейнеры;</li>
        <li>Для перевозки легких, но объемных грузов - 40-ка футовый стандартный или "высокие" (High Cube) контейнеры;</li>
      </ul>
      <p>Кроме перечисленных, существуют и другие типы контейнеров, такие как:</p>


        <ul>
          <li>Рефрижераторные контейнеры используются для грузов, требующих соблюдение температурного режима;</li>
          <li>Oреn Tор (вместо жесткой крыши мягкий тент) - удобно для загрузки сверху;</li>
          <li>Танк-контейнеры (Tank) - для жидких и газообразных веществ;</li>
          <li>Офшорные контейнеры.</li>
        </ul>
      <p>Это наиболее распространенные типы контейнеров.<br></p>

    </div>
    <hr>
  </div >
  <div  class="row">
    <div class="col-md-12 "><h4>Контейнер 20 футов (20' DRY CONTAINER)</h4></div>
    <div class="col-md-6 "><%=image_tag"20.png", :class=>"  img-center "%></div>
    <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Внутренние размеры</th>
          <th>Размеры дверей</th>
          <th>Вес</th>
          <th>Объем</th>
          <th>Загрузка</th>
        </tr>
        <tr>
          <th>20' DRY</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">длина</th>
          <td>5898</td>
          <td></td>
          <td>2200</td>
          <td>33,0</td>
          <td>24800</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2350</td>
          <td>2340</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2390</td>
          <td>2280</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-12 "><h4>Контейнер 40 и 45 футов (40' / 45' HC DRY CONTAINER)</h4></div>
    <div class="col-md-6 "><%=image_tag("40.png") %></div>
    <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Внутренние размеры</th>
          <th>Размеры дверей</th>
          <th>Вес</th>
          <th>Объем</th>
          <th>Загрузка</th>
        </tr>
        <tr>
          <th>40' DRY</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">длина</th>
          <td>12035</td>
          <td></td>
          <td>3700</td>
          <td>67,0</td>
          <td>28800</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2350</td>
          <td>2339</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2393</td>
          <td>2274</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <thead class="thead-inverse">

        <tr>
          <th>40' HC</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tr>
          <th scope="row">длина</th>
          <td>12030</td>
          <td></td>
          <td>3930</td>
          <td>76,0</td>
          <td>28570</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2350</td>
          <td>2340</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2690</td>
          <td>2579</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <thead class="thead-inverse">

        <tr>
          <th>45' HC</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tr>
          <th scope="row">длина</th>
          <td>13556</td>
          <td></td>
          <td>4590	</td>
          <td>86,0</td>
          <td>27910</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2352</td>
          <td>2340</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2695</td>
          <td>2579</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-12 "><h4>Контейнер рефрижераторный (высокий) 40 футов (40' HC REEFER CONTAINER)</h4></div>
    <div class="col-md-6 "><%=image_tag("refreg.png") %></div>
    <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Внутренние размеры</th>
          <th>Размеры дверей</th>
          <th>Вес</th>
          <th>Объем</th>
          <th>Загрузка</th>
        </tr>
        <tr>
          <th>40' RF</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">длина</th>
          <td>11577</td>
          <td></td>
          <td>3950</td>
          <td>58,7</td>
          <td>28550</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2294</td>
          <td>2286</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2210</td>
          <td>2238</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <thead class="thead-inverse">

        <tr>
          <th>40' HC RF</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tr>
          <th scope="row">длина</th>
          <td>11577</td>
          <td></td>
          <td>4150</td>
          <td>67,0</td>
          <td>28350</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2294</td>
          <td>2290</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2509</td>
          <td>2536</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        </tbody>
      </table>
      </div>
    </div>
    <div class="col-md-12 "><h4>Контейнер Опен Топ (OPEN TOP CONTAINER)</h4></div>
    <div class="col-md-6 "><%=image_tag("open.png") %></div>
    <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Внутренние размеры</th>
          <th>Размеры дверей</th>
          <th>Вес</th>
          <th>Объем</th>
          <th>Загрузка</th>
        </tr>
        <tr>
          <th>20' OT	</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">длина</th>
          <td>5893</td>
          <td></td>
          <td>2200</td>
          <td>32,0</td>
          <td>28280</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2346</td>
          <td>2338</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2353</td>
          <td>2273</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <thead class="thead-inverse">

        <tr>
          <th>40' OT</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tr>
          <th scope="row">длина</th>
          <td>12056</td>
          <td></td>
          <td>3800</td>
          <td>67,0</td>
          <td>28700</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2347</td>
          <td>2343</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2379</td>
          <td>2279</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-12 "><h4>Контейнер Флет Рек (FLAT RACK CONTAINER)</h4></div>
    <div class="col-md-6 "><%=image_tag("flat.png") %></div>
    <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Внутренние размеры</th>
          <th>Размеры дверей</th>
          <th>Вес</th>
          <th>Объем</th>
          <th>Загрузка</th>
        </tr>
        <tr>
          <th>20' FT</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">длина</th>
          <td>5935</td>
          <td></td>
          <td>2560</td>
          <td></td>
          <td>21440</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2398</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2327</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <thead class="thead-inverse">

        <tr>
          <th>40' FT</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tr>
          <th scope="row">длина</th>
          <td>12080</td>
          <td></td>
          <td>5480</td>
          <td></td>
          <td>25000</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2420</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2103</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        </tbody>
      </table>
    </div>
    </div>
      <div class="col-md-12 "><h4>Танк-контейнер 20 футов (20' TANK CONTAINER)</h4></div>
      <div class="col-md-6 "><%=image_tag("tank.png") %></div>
      <div class="col-md-10">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Внутренние размеры</th>
          <th>Размеры дверей</th>
          <th>Вес</th>
          <th>Объем</th>
          <th>Загрузка</th>
        </tr>
        <tr>
          <th>20' TC</th>
          <th>мм</th>
          <th>мм</th>
          <th>кг</th>
          <th>м3</th>
          <th>кг</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">длина</th>
          <td>6058</td>
          <td></td>
          <td>9600</td>
          <td>25,0</td>
          <td>24000</td>
        </tr>
        <tr>
          <th scope="row">ширина	</th>
          <td>2436</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">высота</th>
          <td>2576</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
      </div>
  </div>
</div>