<% provide(:title, 'Home') %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://hq-wallpapers.ru/wallpapers/8/hq-wallpapers_ru_city_36796_1920x1080.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Odessa transport company</h3>
        </div>
      </div>
      <div class="item">
        <img src="http://omport.ru/images/wall.jpg" alt="..."  >
        <div class="carousel-caption">
          <h3>Caption Text</h3>
        </div>
      </div>
      <div class="item">
        <img src="http://img1.goodfon.ru/original/1400x1050/3/25/maersk-line-maersk-essex-27.jpg" alt="...">
        <div class="carousel-caption">
          <h3>Caption Text</h3>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Carousel -->
<div id="Partners">
  <div class="row">
    <div id="images">
      <%= link_to "https://my.maerskline.com/" do %>
          <%=image_tag("120px-A.P._Moller_-_Maersk_Group.svg.png",:size => "90x70",
                       :class=>"firstimg") %>
      <% end %>

      <%= link_to "https://www.msc.com/" do %>
          <%=image_tag("MSC Cruises Logo.png",:size => "80x80",
                       :class=>"img") %>
      <% end %>

      <%= link_to "http://www.zim.com/pages/default.aspx" do %>
          <%=image_tag("logo_zim_social.png",:size => "70x70",
                       :class=>"img") %>
      <% end %>

      <%= link_to "https://www.cma-cgm.com/" do %>
          <%=image_tag("CmaCgm_colors_1.png",:size => "80x80",
                       :class=>"img") %>
      <% end %>
    </div>
  </div>
</div><!-- Partners -->
  <div class="home-content">

  </div>

