<% provide(:title, 'Services') %>
<div class="title"></div>
<div class="row">
  <div class="col-sm-12 text-center">

    <hr>
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2 class="What" style="margin-bottom:30px"> Транспортно-экспедиторская компания<br> Tiburon LTD предоставляет следующие услуги:</h2>
    </div>
    <hr >
    <div class="col-sm-8 text-center">
    </div>
  </div>
</div>
<div id="hover1" >
  <div class="row">
    <div class="col-sm-4 ">
      <div class=" col-sm-offset-2 "><h3 class="What">Экспедирование</h3></div>
      <div class="ih-item square effect4"><a href="#">
        <div class="img"><%=image_tag("hover1.jpg") %></div>
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="info">

          <p>Контейнерные перевозки<br>Таможенное оформление<br>Автоперевозки<br>Ж/Д перевозки<br>Внутрипортовое экспедирование в режимах импорт, экспорт и транзит</p>
        </div></a></div>

    </div>
    <div class="col-sm-4">
      <div class=" col-sm-offset-0 "><h3 class="What">Услуги таможенного брокера</h3></div>
      <div class="ih-item square effect4"><a href="#">
        <div class="img"><%=image_tag("hover2.jpg") %></div>
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="info">

          <p>Растаможка грузов<br>Затаможка грузов</p>
        </div></a></div>

    </div>
    <div class="col-sm-4">
      <div class=" col-sm-offset-1 "><h3 class="What">Перевозка автомобилей</h3></div>
      <div class="ih-item square effect4"><a href="#">
        <div class="img"><%=image_tag("hover4.jpg") %></div>
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="info">

          <p>Организация морских перевозок автомобилей из Китая, США и Канады в Украину, Молдавию, ПМР, Белоруссию и другие страны ближнего зарубежья</p>
        </div></a></div>

    </div>
  </div>
</div>
<div id="hover2" >
  <div class="row">
    <div class="col-sm-4">
      <div class=" col-sm-offset-0 "><h3 class="What">Перевозка негабаритной техники</h3></div>
      <div class="ih-item square effect4"><a href="#">
        <div class="img"><%=image_tag("hover5.jpg") %></div>
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="info">

          <p>Организация перевозок лодок, яхт, катеров, тяжелой и негабаритной техники из США, Канады, Европы и Азии;</p>
        </div></a></div>

    </div>
    <div class="col-sm-4">
      <div class=" col-sm-offset-1 "><h3 class="What">Доставка личных вещей</h3></div>
      <div class="ih-item square effect4"><a href="#">
        <div class="img"><%=image_tag("hover6.jpg") %></div>
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="info">

          <p>Ввоз/вывоз личных вещей<br>Организация морских перевозок личных вещей, дипломатических грузов, гуманитарной помощи;</p>
        </div></a></div>

    </div>
    <div class="col-sm-4">
      <div class=" col-sm-offset-1 "><h3 class="What">Контейнерные перевозки</h3></div>
      <div class="ih-item square effect4"><a href="#">
        <div class="img"><%=image_tag("hover7.jpg") %></div>
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="info">

          <p>Перевозка контейнеров из порта Одессы  до таможни назначения на территории Украины, Молдавии, России, Белоруссии, ПМР<br>Расформирование контейнеров на территории порта</p>
        </div></a></div>

    </div>
  </div>
</div>